@charset "UTF-8";

@font-face {
    font-family: "Alien";
    src: url("../fonts/Alien\ Mine\ Italic.otf") format("opentype"), url("../fonts/Alien\ Mine\ Italic.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div.legend > p {
    text-align: center;
    font-size: 0.8em;
}

header {
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
}

header > div#menu-icon, h1, div#search-icon {
    display: inline-block;
}

header > h1 {
    margin-left: 20px;
    font-family: "Alien", 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.2em;
}

header > div#search-icon {
    margin-left: 35%;
}

main {
    margin: 20px;
}

div#icones > div.icons {
    display: inline-block;
    margin-top: 10px;
    color: rgb(73, 73, 73);
}

div#icones > div#translate {
    margin-right: 76%;
}

main > section > article h2 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color:#006400;
    text-align: center;
}

main > section > article h3 {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

main > div#title h1 {
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

main > div#title h2 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    margin-top: 20px;
}

main > section > article {
    margin-top: 20px;
}

main > section#introduction > article#infobox > table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

main > section#introduction > article#infobox > table tr {
    border: 1px solid lightgray;
}

main > section#introduction > article#infobox > table th, td {
    padding: 5px;
}

main > section#introduction > article#infobox > table th {
    text-align: left;
}

main > section#introduction > article#infobox > table th.title {
    text-align: center;
    background-color: #FE5900;
    color: white;
}

main > section#introduction > article#infobox > table > tbody > tr > td > img {
    width: 300px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#matthew-img {
    height: 320px;
}

main > section > article, aside {
    margin: 40px 0px;
}

main > section#introduction > article#theories > div.character-img {
    margin: 20px 0px;
}

main > section > article > div.character-img > img {
    display: block;
    margin: auto;
    width: 300px;
}

main > section#development > article#meaning > aside > ul{
    list-style-type: square;
    margin-left: 40px;
}

main > section#development > article#meaning > aside h4{
    color: #D84204;
}

main > section#development > article#diffrence{
    list-style-type: square;
    margin-left: 40px;
}

main > section#last-section > aside#seemore > table#articles img {
    width: 150px;
    border-radius: 10px;
}
